.five {
  margin-bottom: 0px;
}
.five-img {
  width: 335px;
}

.five-list {
  font-size: 17px;
  letter-spacing: 1.73px;
  text-decoration: none;
}

.five-bold {
  font-size: 25px;
  letter-spacing: 2.54px;
  text-transform: uppercase;
}

.five-where {
  margin-top: 15px;
}

.five-info {
  margin: 150px 65px 0px;
}
