.five {
  margin-bottom: 0px;
}
.five-images {
  overflow: hidden;
  width: fit-content;
  margin-left: 75px;
}

.five-img {
  width: 335px;
  transition: all 0.4s ease;
}

.five-img:hover {
  transform: scale(1.5);
}

.five-info {
  margin: 150px 0 0 65px;
}

.five-bold {
  font-size: 25px;
  letter-spacing: 2.54px;
  text-transform: uppercase;
}

.five-where {
  margin-top: 15px;
}

//ok
