.five {
  margin-bottom: 0px;
}
.five-img {
  width: 335px;
  margin-left: 75px;
}

.five-bold {
  font-size: 25px;
  letter-spacing: 2.54px;
  text-transform: uppercase;
}

.five-where {
  margin-top: 15px;
}

.five-info {
  margin: 150px 0 0 65px;
}
