.four {
  margin-bottom: 100px;
}

.four-images {
  display: flex;
  position: relative;
  margin: 0 8%;
}

.four-img {
  width: 291px;
}

.four-tuiles {
  position: relative;
  margin: 0 70px;
}

.four-button {
  position: absolute;
  right: 19px;
  bottom: 23px;
}
