.one {
  margin-top: 220px;
}
.one-article {
  width: 45%;
  font-size: 17px;
  letter-spacing: 1.73px;
  margin: 8%;
}

.one-images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 526px;
}

.one-img {
  margin: 3%;
  width: 40%;
}
