.section {
  display: flex;
  margin: 0 60px 250px;
}

#section-title {
  text-transform: uppercase;
  margin-right: 70px;
  h2 {
    font-size: 90px;
    letter-spacing: 9.14px;
    text-align: center;
  }
  h3 {
    font-size: 20px;
    letter-spacing: 2.03px;
    text-align: center;
  }
}

.section-button {
  background: black;
  width: fit-content;
  padding: 18px 34px;
  font-size: 16px;
  letter-spacing: 1.62px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
