.six {
  padding: 210px 67px 100px;
  margin: 0;
}

.six-contain {
  position: relative;
  width: 100%;
}

.six-sponsor {
  position: absolute;
  width: 284px;
  margin-left: 75px;
}

.six-sponsor-logo {
  width: 30%;
  margin-right: 30px;
  margin-bottom: 20px;
}

.six-social-legals {
  position: absolute;
  right: 0px;
  height: 48px;
}

.six-social-logo {
  width: 48px;
  margin: 30px;
  font-size: 16px;
  letter-spacing: 1.62px;
}
