.six {
  padding: 210px 67px 100px;
  margin: 0px;
}

.six-contain {
  display: flex;
}

.six-sponsor {
  width: 284px;
  margin-left: 75px;
  margin-right: 700px;
}
.six-sponsor-logo {
  width: 30%;
  margin: 0px 30px 20px 0px;
}

.six-social {
  height: 48px;
}

.six-social-logo {
  width: 48px;
  margin: 30px;
}

.copyrights {
  margin-right: 40px;
}

.six-copyrights-legals {
  display: flex;
  font-size: 17px;
  letter-spacing: 1.73px;
  margin: 200px 0px 102px;
  padding: 0 30%;
}
