.three-img {
  width: 100vh;
}

.three-article {
  width: 21%;
  font-size: 17px;
  letter-spacing: 1.73px;
  margin-left: 8%;
}

.three-discover {
  position: relative;
  height: 47vh;
}

.three-button {
  position: absolute;
  right: 5%;
  top: 95%;
}
