.three-img {
  width: 100%;
  transition: all 0.3s ease;
}

.three-img.is-active {
  filter: grayscale(50%);
  transform: scale(1.5);
}

.three-article {
  max-width: 306px;
  margin-left: 5vw;
}

.three-discover {
  position: relative;
  width: 100%;
  max-width: 756px;
  margin-left: 2.5vw;
  width: fit-content;
  overflow: hidden;
}

.three-button {
  position: absolute;
  right: 5vw;
  top: 320px;
}
