.three {
  display: flex;
}
.three-img {
  width: 1073px;
}

.three-article {
  width: 306px;
  font-size: 17px;
  letter-spacing: 1.73px;
}

.three-discover {
  position: relative;
  width: 756px;
}

.three-button {
  position: absolute;
  right: 45px;
  top: 320px;
}
