.two-list {
  height: 351px;
  width: 998px;
  overflow: scroll;
  display: unset;
  margin: auto;
}

.two-lines {
  margin: 2% 0;
  width: 100%;
}

.two-activity {
  margin: 0 19%;
  width: 100%;
}

.two-dates {
  font-size: 20px;
  letter-spacing: 2.03px;
  text-align: center;

  text-transform: uppercase;
}
