.order {
  margin-left: 400px;
}

.order-infos {
  width: 970px;
}
.order-texte {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  letter-spacing: 1.73px;
}

.order-button {
  margin-left: 130px;
  width: 365px;
}
