/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  font-family: "darkmode-off", sans-serif;
  color: white;
  background-color: black;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

// Darkmode DarkmodeOff Regular
// font-family: "darkmode-off", sans-serif;
// font-weight: 400;
// font-style: normal;
// Darkmode DarkmodeOff Bold
// font-family: "darkmode-off", sans-serif;
// font-weight: 700;
// font-style: normal;

h1 {
  width: 155px;
}

a {
  text-decoration: none;
}

main {
  background: rgba(92, 92, 92, 0.83);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(6.4px);
}

h3 {
  font-size: 33px;
  text-transform: uppercase;
  letter-spacing: 3.35px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 80px;
}

footer {
  background: black;
  width: 100%;
  height: 100%;
}
